# Data Science Tools and Ecosystem

## Author
Marco Alexandre Fernandes Filho

___In this notebook, Data Science Tools and Ecosystem are summarized___

___Objectives:___
* list languages that Data Scientists use
* libraries used by Data Scientists
* examples of evaluating arithmetic expressions in Python
* examples of evaluating arithmetic expressions in Python using minutes and hours

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Seaborn
3. Matplotlib
4. Panda

| Data Science Tools |
| :---: |
| RStudio |
| Apache Spark |
| TensorFlow |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

* (2 + 2)
* (2 * 2)
* (2 - 2)
* (2 * 2 + 2)

In [22]:
#This a simple arithmetic expression to mutiply then add integers:
(3*4)+5

17

In [30]:
#This cell will convert 200 minutes to hours by diving by 60:
minutes = 200
hour = 60
result = minutes/hour
print("{:.2f} hours".format(result))

3.33 hours